html,body
{
	background-color: #404040;
	font-family: 'Lora', serif;	
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
#container
{
	width: 100%;
	min-height:100%;
		position:relative;
}

.menu
{
	background-color: #191919;
	 position:relative;
	color: #cccccc;	
}
.option 
{
	width: 10%;
	float:left;
	height:50px;
	padding-top:10px;
	text-align:center;
}
.option:hover
{
	background-color: #262626;
	cursor: pointer;
	color:#ffffff;
}
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  
  
   position:absolute;
     top: 0;
  width:200px; 
  right:0; 
  bottom: 0;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #191919;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color:#cccccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #262626; color:#ffffff;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.leftRectangle
{
	float:left;
	
}
.rightRectangle
{
	float:left;
	position:absolute;
	  
  right:0; 
}

#sumaW
{
	color:red;
}
#sumaP
{
	color:green;
}
 table
{ 
 border: 1px solid black; 
 border-collapse: collapse;
 float:left;
 
 margin:20px;
} 
 td, tr, th
{ 
   border: 1px solid black;
   padding: 5px;
} 
caption
{
	font-weight: bold;
}
input[type=text],
input[type=password],
input[type=email]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}
input[type=email]:focus,
input[type=text]:focus,
input[type=password]:focus
{
	
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}
#box
{
	background-color: #323232;
	width: 300px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	-webkit-box-shadow: 3px 3px 8px 5px rgba(0,0,0,0.93);
	-moz-box-shadow: 3px 3px 8px 5px rgba(0,0,0,0.93);
	box-shadow:3px 3px 8px 5px rgba(0,0,0,0.93);
	color:#E6E3E2;
}
input[type=radio]
{
	cursor: pointer;
	color: white;
	
}
fieldset
{
	border:  1px solid #515151;
}
legend,
label
{
	color:#EEECEC;
	font-size:15px;
}


input[type=submit],
input[type=button]
{
	width: 300px;
	background-color: #36b03c;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=button]:focus,
input[type=submit]:focus
{
	-webkit-box-shadow: 3px 3px 8px 5px rgba(0,0,0,0.28);
	-moz-box-shadow: 3px 3px 8px 5px rgba(0,0,0,0.28);
	box-shadow: 3px 3px 8px 5px rgba(0,0,0,0.28);
}
input[type=button]:hover,
input[type=submit]:hover
{
	background-color: #37b93d;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}
span
{
	margin:18px;
	font-size:22px;
	text-align:center;
}
h1
{
	text-align:center;
	margin:0px;
}
.custom_box
{
	height:610px;
	width:1000px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #262626;
	color: #EEECEC;
}
.left_box
{
	height:610px;
	width:610px;
	float:left;
	border-right: 1px solid #262626;
}
.right_box
{
	height:610px;
	width:389px;
	float:left;	
}
.upper_box
{
	height:389px;
	width:389;
	border-bottom: 1px solid #262626;
	font-size:20px;
}
.inner_box
{
	padding-left:40px;
	padding-top:40px;
}
.inner_box input
{
	margin-bottom:10px;
	
}
.upper_box p
{
	margin:50px;
	text-align:left;
}
#logout
{
	height:50px;
	width:389;
	padding-top:10px;
	padding-left:320px;
	color:#cccccc;	
}
#logout:hover
{
	cursor:pointer;
	color:white;	
}

.down_box
{
	height:219px;
	width:389px;
	font-family: 'Stint Ultra Condensed', cursive;
}
#komentarz
{
	resize:none;	
}
#pole_tekstowe 
{
	font-family: 'Lora', serif;	
	font-size:20px;
	padding-left:40px;
	padding-top:10px;
	height:150px;
	width:500px;	
}
#left_IN_down
{
	height:179px;
	width:116px;
	border-right:  1px solid #515151;
	
	color:black;
	float:left;
	font-size:200px;
	padding-left:95px;
	padding-top:35px;
	padding-bottom:5px;
	padding-right:20px;
}
#right_IN_down
{
	float:left;
}
#upper_IN_down
{
	height:133px;
	
	width:147px;
	color:black;
	font-size:80px;
	padding-left:10px;
	border-bottom:  1px solid #515151;
	
	
}
#down_IN_down
{
	height:35px;
	width:157px;
	
	color:black;
	font-size:90px;
	padding-bottom:50px;
	
	
}
.small_title
{
	text-align:center;
	font-size:30px;
	height:70px;
	padding-top:30px;
	width:610px;
	
	letter-spacing:1px;
}
.category
{
	height:280px;
	width:510px;
	padding-left:30px;
	padding-right:70px;
	
	font-size:15px;
}
.category p
{
	font-size:20px;
}
.column
{
	float:left;
	margin:10px;
	
}
.rectangle
{
	height:173px;
	float:left;
	width:283px;
	margin:10px;
	text-align:center;
	padding-top:60px;
	color:#cccccc;
	position:relative;
	border:  1px solid #515151;	
}
.rectangle .link
{
	height:70px;
	width:283px;
	color:black;
	font-weight:bold;
	font-size:30px;
	text-align:center;
	padding-top:30px;
	position:absolute;
	display:block;
	background-color:#cccccc;
	left:0px;
	top:0px;
	opacity:0;
	transition: opacity 0.5s ease-in-out;
}
.rectangle:hover
{
	background-color:#535353;
	
	cursor:pointer;
	opacity:0.5;
}
.rectangle:hover .link
{
	opacity:0.8;
	
}
#anuluj
{
	background-color:red;
}
a
{
	text-decoration:none;
	color:#cccccc;
}
#bilans label
{
	
	margin-left:20px;
	font-size:20px;
}

