body
{
	background-color: #404040;
	font-family: 'Lora', serif;	
	color:#D3D3D3;
}
.error
{
	color:red;
	margin-top:10px;
	margin-bottom:10px;
}
.jumpers
{
	text-align: center;
}
h1
{
	font-size:3vw
}
legend
{
	font-size:20px;
}

a:link,a:visited
{
	opacity:0.8;
  text-decoration: none;
  underline:none;
  color:#D3D3D3;
  
}
a:hover 
{
  color:white;
  underline:none;
  opacity:1;
  
}